.channel-component {
    display: flex;
    align-items: center;
}
.channel-button {
    padding: 0.5rem 1rem;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0.9rem;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}
.card-title {
    width: 14rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-left: 10px;
}
.card-title p {
    font-weight: 500;
    font-size: 0.8rem;
}
.text-content-card {
    width: 22rem;
    margin-left: -14px;
    display: flex;
    align-items: center;
}
.playlist-symbol {
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: fit-content;
    color: #fff;
    display: flex;
    align-items: center;
    height: 1rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    position: absolute;
    top: 7.5rem;
    left: 10.4rem;
}
.playlist-mat-icon {
    font-size: 1.3rem;
    width: 1.3rem;
    height: 1rem;
}
mat-grid-tile, mat-card {
    border-radius: 0.8rem;
}