<mat-card>
    <div class="channel-component">
        <img [src]="logoUrl" [style.width]="'10rem'" [style.padding]="'1rem'">
        <div style="display: flex; flex-direction: column;">
            <span [style.font-size]="'2rem'" [style.font-weight]="'bold'">Sambit Khandai</span>
            <span style="font-size: 1rem; margin-top: 20px; color: gray;">&#64;sambitkhandai8526 &bull; 3 subsribers &bull; 1 video</span>
            <span style="margin-top: 10px;">
                <p style="font-size: 1rem; color: gray; cursor: pointer;">
                    more about this channel...
                </p>
            </span>
            <span style="margin-top: 10px;">
                <a style="text-decoration: none; color:black; font-weight: 500" href="#" class="channel-button">Customized channel</a>
                <a href="#" style="text-decoration: none; color:black; margin-left: 1rem; font-weight: 500;" class="channel-button">Manage videos</a>
            </span>
        </div>
    </div>
    <div>
        <mat-tab-group>
            <mat-tab label="Videos">
                <div [style.padding-bottom]="'36px'">
                    <mat-grid-list cols="4" rowHeight="3:3" gutterSize="16px">
                        <mat-grid-tile *ngFor="let item of thumbnails()">
                            <mat-card style="width: 16rem; cursor: pointer;">
                                <img mat-card-image [src]="item.thumbnailUrl">
                                <mat-card-content >
                                    <div class="text-content-card">
                                        <div class="card-title">
                                            <p>{{ item.videoTitle }}</p>
                                        </div>
                                        <button mat-icon-button>
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
                                    <div style="padding-top: 10px;">
                                        <div style="display: flex; font-size: 0.8rem;">
                                            <p>{{ item.views }} views</p> &nbsp; &bull; &nbsp; <p>{{ item.video_create_date }} ago</p>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                
            </mat-tab>
            <mat-tab label="Playlists"> Playlists </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>